.img-box {
  display: flex;
  width: 1150px;
  flex-wrap: wrap;
  gap: 15px;
}

.img-img {
  border-radius: 10px;
  width: 100px;
  height: 150px;
  transition: all 0.3s ease;
}

.img-img:hover {
  filter: brightness(80%);
}
